{% extends 'calorie_tracker/base.html' %} {% load widget_tweaks %}{% load static
%} {% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h2 class="text-center mb-4">Add Food Item</h2>
      <form method="post" class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="form-row">
          <div class="col-md-9 mb-3">
            <label for="{{ form.name.id_for_label }}" class="sr-only"
              >Name</label
            >
            {{ form.name|add_class:"form-control" }}
          </div>
          <div class="col-md-3 mb-3">
            <button type="submit" class="btn btn-primary btn-block">Add</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
